body {
    background-color: rgba(0,0,0,0.9);
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: blueviolet;
}



.menu a {
    text-decoration: none;
    color: white;

}

.menu a:hover {
    text-decoration: underline;
}

.titulo {
    text-align: center;
    color: blueviolet;
    font-size: 56px;
}

.sub-titulo {
    text-align: center;
    color: blueviolet;
}

.principal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    color: blueviolet;
}

.cfg-p {
    text-align: center;
    line-height: 1.3;
    max-width: 500px;
    padding: 20px;
    font-size: 18px;
}

.img-cover {
    width: 350px;
}

.img-cover img {
    width: 100%;
    padding: 20px;
}

.evolucoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: blueviolet;
    margin-top: 40px;
}

.pokes {
    display: flex;
    flex-flow: column wrap;
    width: 250px;
    align-items: center;
}

.gengar-img {
    height: 227px;
    width: 222px ;
}



.video {
    text-align: center;
    color: blueviolet;
    padding: 40px;
    
}

.rodape {
    display: flex;
    flex-flow: row no;
    justify-content: space-around;
    background-color: blueviolet;
    margin: 0px;
    width: 100vw;
}

.links-rodape {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 20px;
}

.links {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 200px;
    gap: 8px;
   
}

.img {
    width: 25px;
    grid-column-start: 1;
    
    
}

.link {
    grid-column-start: 2;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    place-self: center start;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
}

.mapa {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}